.header {
  display: flex;
  position: sticky;

  /* 스크롤업되는 컨텐츠 위로 올라오도록 */
  z-index: 2;
  top: 0;
  height: var(--height-toolbar);
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-main);

  color: white;
}

.header__homelink {
  display: inline-block;
  padding: 0 24px;
  height: var(--height-toolbar);
  line-height: var(--height-toolbar);
  cursor: pointer;
  text-decoration-line: none;
  color: var(--color-dark);
}

::ng-deep router-outlet + app-shorten-url {
  position: absolute;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer {
  padding: 1em 0;
  font-size: var(--font-size-text);
  text-align: center;
  color: white;
  background-color: var(--color-lighter);
  position: absolute;
  width: 100%;
  bottom: 0;
}

.footer__img {
  max-height: 15px;
}
